<body>
    <%- include("partials/header.ejs") %>
    <div class="prompt">
        <form action="/" method="post">
            <label for="text">City:</label>
            <input type="text" name="city" id="">
            <button type="submit">Submit</button>
        </form>
        <% if (locals.errorMessage) { %>
            <div class="error">
                <p><%= errorMessage %></p>
            </div>
        <% } else if(locals.cityName && locals.airQuality){ %>
            <div class="content">
                <p>City Name: <%= cityName %></p>
                <p>Air Quality: <%= airQuality %></p>
            </div>
        <% } else {%>
            <div class="content">
                <p>Enter a city name!</p>
            </div>
        <% } %>
    </div>
</body>
</html>