<body>
    <%- include("partials/header.ejs") %>
    <div class="main-section">
        <div class="left-section">
            <div class="input-container border">
                <form action="/" method="post">
                    <input type="text" name="city" id="city_input" autocomplete="off" placeholder="Search for cities" class="form-control">
                </form>
                <div class="result-section">
                    <% if (locals.errorMessage) { %>
                        <div class="error">
                            <p><%= errorMessage %></p>
                        </div>
                    <% } else if(locals.cityName && locals.airQuality){ %>
                        <div class="content">
                            <h1><%= cityName %></h1>
                            <p>Air Quality: <%= airQuality %></p>
                        </div>
                    <% }%>
                </div>
            </div>
            <div class="today-forecast border">

            </div>
            <div class="air-conditions border">

            </div>
        </div>
        <div class="right-section">
            <div class="seven-day-forecast border">

            </div>
        </div>
    </div>
</body>
</html>