<body>
    <%- include("partials/header.ejs") %>
    <div id="main-section" class="">
        <div class="">
          <div class="">
                <div class="input-container">
                    <form action="/" method="post">
                        <input type="text" name="city" id="city_input" autocomplete="off" placeholder="Search for cities" class="form-control">
                    </form>
                    <% if (locals.errorMessage) { %>
                        <div class="error">
                            <p><%= errorMessage %></p>
                        </div>
                    <% } else if(locals.cityName && locals.airQuality){ %>
                        <div class="content">
                            <h1><%= cityName %></h1>
                            <p>Air Quality: <%= airQuality %></p>
                        </div>
                    <% }%>
                </div>
                <div class="today-forecast">
                    <h1>Today Forecast</h1>
                </div>
                <div class="air-conditions">
                    <h1>Air Conditions</h1>
                </div>
          </div>
          <div class="">
            <div class="seven-day-forecast">
                <h1>7 day forecast</h1>
            </div>
          </div>
        </div>
      </div>
</body>
</html>