body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0b131e;
    color: #f0f1f1;
}
.error {
    color: red;
    font-weight: bold;
}
#map{
    height: 60vh;
    border-radius: 10px;
}
.container-fluid{
    padding: 0;
}