body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0b131e;
    color: #f0f1f1;
    height: 100%;
}
.error {
    color: red;
    font-weight: bold;
}
#map{
    height: 60vh;
    border-radius: 10px;
}
form input{
    width: 100%;
    text-align: center;
    background-color: #202b3b !important;
    border: none !important;
    color: #fff !important;
}
.input-container, .today-forecast, .air-conditions{
    height: 31%;
}
.input-container, .today-forecast{
    margin-bottom: 40px;
}
.seven-day-forecast{
    height: 100%;
}
.main-section{
    display: flex;
    flex-direction: row;
    height: 92vh;
}
.left-section{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 20px;
}
.right-section{
    width: 50%;
    height: 100%;
    padding: 20px;
}