body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0b131e;
    color: #f0f1f1;
    height: 100%;
}
.error {
    color: red;
    font-weight: bold;
}
#map{
    height: 60vh;
    border-radius: 10px;
}
/* form input{
    width: 100%;
    text-align: center;
    background-color: #202b3b !important;
    border: none !important;
    color: #fff !important;
} */
.input-container, .today-forecast, .air-conditions{
    background-color: green;
    margin: 20px 0;
}
.seven-day-forecast{
    background-color: green;
    margin: 20px 0;
}
.left-container, .right-container{
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}